// ##### TEXT ###################################################
$font-size-para: 15px;
$font-size-title: 24px;
$font-family: 'Overpass', sans-serif;


// ##### COLORS #################################################
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --blue-circle: hsl(210, 19%, 18%);
    --dark-blue: hsl(215, 22%, 15%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --color-shadow: rgba(0, 0, 0, 0.1);
}


